<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </head>
  <body>
  	<div class="page container" id="home">
  		<header>
  			<a href="/"><img src="/images/church-logo.jpg" alt="main-logo"></a>
		    <h1>Lourdes Matha Church,Thevakkal</h1>
		    <button id="menu-button">
		    	<span></span>
		    	<span></span>
		    	<span></span>
		    </button>
		    <ul id="main-menu">
		    	<li><a href="/">Home</a></li>
		    	<li><a>News</a></li>
		    	<li><a>Gallery</a></li>
		    	<li><a href="/vincent-de-paul">Society of Saint Vincent de Paul</a></li>
		    	<li><a>Contact Us</a></li>
		    </ul>
  		</header>
      <content>
        <div class="title-section">
		    <h2>Welcome to <%= title %></h2>
      </content>
  	</div>
  </body>
</html>
