* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden; }

a {
  color: #00B7FF; }

.container {
  display: block; }
  .container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    background: #ccc;
    padding: 0 35px; }
    .container header img {
      width: 150px; }
    .container header button {
      background: transparent;
      border: none;
      outline: none;
      position: relative;
      width: 30px;
      height: 23px;
      cursor: pointer; }
    .container header button span {
      content: '';
      width: 30px;
      height: 3px;
      background: #000;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .container header button span:nth-child(2) {
      top: 10px; }
    .container header button span:last-child {
      top: 20px; }
    .container header button.menu-visible span {
      transform: rotate(-45deg);
      top: 50%; }
    .container header button.menu-visible span:last-child {
      transform: rotate(45deg); }
    .container header button.menu-visible span:nth-child(2) {
      background: transparent; }
    .container header #main-menu {
      position: absolute;
      top: 100%;
      right: 0;
      transform: translateX(100%);
      width: 350px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      background: #ccc;
      z-index: 99; }
    .container header #main-menu.menu-visible {
      transform: translateX(0); }
    .container header #main-menu li {
      list-style: none;
      font-size: 22px;
      line-height: 40px; }
      .container header #main-menu li a {
        color: #000;
        cursor: pointer;
        display: block;
        text-decoration: none;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .container header #main-menu li a:hover {
          background: #eee; }
  .container content {
    display: inline-block;
    padding: 20px 35px;
    width: 100%; }
    .container content .title-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center; }
      .container content .title-section h2 {
        display: inline-block; }
      .container content .title-section .box {
        display: flex; }
        .container content .title-section .box input[name="daterange"] {
          display: block;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          font-size: 14px;
          padding: 6px;
          width: 100%;
          border-radius: 4px;
          height: 35px;
          margin-right: 20px;
          flex: 3; }
        .container content .title-section .box .container-3 {
          width: 300px;
          vertical-align: middle;
          white-space: nowrap;
          position: relative;
          margin-right: 20px;
          flex: 1; }
          .container content .title-section .box .container-3 .icon {
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 10px;
            margin-top: 10px;
            z-index: 1;
            color: #4f5b66;
            -webkit-transition: all .55s ease;
            -moz-transition: all .55s ease;
            -ms-transition: all .55s ease;
            -o-transition: all .55s ease;
            transition: all .55s ease; }
          .container content .title-section .box .container-3 input#search {
            width: 300px;
            height: 35px;
            background: #e0efe1;
            border: 1px solid #4CAF50;
            font-size: 10pt;
            float: left;
            color: #262626;
            padding-left: 30px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            /* color: #fff */
            padding-right: 10px;
            outline: none; }
          .container content .title-section .box .container-3:hover .icon {
            margin-top: 9px;
            color: #93a2ad;
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2); }
            .container content .title-section .box .container-3:hover .icon::-webkit-input-placeholder {
              color: #65737e; }
            .container content .title-section .box .container-3:hover .icon:-moz-placeholder {
              color: #65737e; }
            .container content .title-section .box .container-3:hover .icon::-moz-placeholder {
              color: #65737e; }
            .container content .title-section .box .container-3:hover .icon:-ms-input-placeholder {
              color: #65737e; }
    .container content button {
      background: #fff;
      border: none;
      outline: none;
      font-size: 20px;
      cursor: pointer;
      width: 95px;
      flex: 2; }
      .container content button i {
        color: #4CAF50;
        margin-right: 5px;
        font-size: 18px; }
      .container content button.add-row-button.open-form i {
        transform: rotate(45deg); }
      .container content button.add-row-button.open-form .show-add {
        display: none; }
      .container content button:not(.open-form) .cancel-add {
        display: none; }
    .container content form.form-hidden {
      display: none; }
    .container content form .input-wrapper {
      position: relative;
      max-width: 350px;
      display: inline-block;
      width: 100%;
      margin: 10px 20px 0 0; }
    .container content form input[type="text"] {
      font: 15px/24px "Lato", Arial, sans-serif;
      color: #333;
      width: 100%;
      box-sizing: border-box;
      letter-spacing: 1px; }
    .container content form .form-input {
      border: 0;
      padding: 7px 0;
      border-bottom: 1px solid #ccc;
      outline: none;
      width: 100%; }
      .container content form .form-input ~ .focus-border {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #4caf50;
        transition: 0.4s; }
      .container content form .form-input:focus ~ .focus-border {
        width: 100%;
        transition: 0.4s; }
      .container content form .form-input.error ~ .focus-border {
        background-color: #f44336;
        width: 100%; }
    .container content .table-wrapper {
      min-height: 300px;
      margin-top: 20px; }
      .container content .table-wrapper table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        font-size: 18px; }
        .container content .table-wrapper table tr th, .container content .table-wrapper table tr td {
          border: 1px solid #ddd;
          padding: 8px; }
        .container content .table-wrapper table tr td em {
          background-color: #ffa500; }
        .container content .table-wrapper table tr th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #4CAF50;
          color: white; }
          .container content .table-wrapper table tr th i {
            float: right;
            line-height: 20px; }
        .container content .table-wrapper table tr.hide-row {
          display: none; }
        .container content .table-wrapper table tr:hover {
          background-color: #ddd; }
        .container content .table-wrapper table tr:nth-child(even) {
          background-color: #f2f2f2; }
    .container content .pagination-page {
      float: right;
      margin: 20px 0 0; }

/*# sourceMappingURL=style.css.map */